<div class="cabecalho">
    <div class="text-center">
        <h1 class="display-3"> Alan de Lara Blasquievis </h1> 
        <h3> Estudande de Análise e Desenvolvimento de Sistemas </h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="//linkedin.com/in/alanblasquievis/" class="">
            <img src="./assets/linkedin.jpg" width="28" height="28" class="rounded-circle me-2">
        </a>
        
        <a href="//github.com/alanblasquievis" class="">
            <img src="./assets/github.jpg" width="38" height="38" class="rounded-circle me-2">
        </a>
    </div>
    <br>
</div>

