<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h1> Contato </h1>
        <p> Email para contato: <b> blskalan10@gmail.com </b> </p>
        <p> Me siga nas seguintes plataformas: </p>
    </div>

    <div class="list-group shadow">
       <a href="//linkedin.com/in/alanblasquievis/" class="list-group-item list-group-action d-flex gap-3 py-3">
        <img src="../../assets/linkedin.jpg" width="32" height="32" class="rounded-circle flex-shrink-8 ne-5">
        <h3 class="mb-0"> LinkedIn</h3>
        </a>
    </div>

    <div class="list-group shadow">
        <a href="//github.com/alanblasquievis" class="list-group-item list-group-action d-flex gap-3 py-3">
         <img src="../../assets/github.jpg" width="32" height="32" class="rounded-circle flex-shrink-8 ne-5">
         <h3 class="mb-0"> GitHub</h3>
         </a>
     </div>
</div>


