<div class="container text-center">
    
    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group heading="Experiência" >
                <div align="left">
                    <h2 class="mb-0"> Aprendiz de Supermercado </h2>
                    <h3 class="text-primary"> Superpão Compre Mais </h3>
                    <ul>
                        <li> Reposição de produtos </li>
                        <li> Atendimento ao cliente </li>
                        <li> Organização de estoque </li>
                    </ul>

                    <h2 class="mb-0"> Soldado </h2>
                    <h3 class="text-primary"> Exercito Brasileiro </h3>
                    <ul>
                        <li> Conferência de estoque </li>
                        <li> Elaboração de identidades </li>
                        <li> Arquivo de documentos </li>
                    </ul>

                    <h2 class="mb-0"> Auxíliar Administrativo II </h2>
                    <h3 class="text-primary"> Cooperativa Agrária Agroindustrial </h3>
                    <ul>
                        <li> Pesagem de caminhões </li>
                        <li> Lancamento de NF em sistema ERP e SAP. </li>
                        <li> Manutenção de controles e conferências de documentos, e fechamentos diarios de movimentações. </li>
                    </ul>
                </div>
            </accordion-group>

            <accordion-group heading="Educação">
                <div align="left">
                    <h2 class="mb-0"> Técnico em Informática integrado ao Ensino Médio </h2>
                    <h3 class="text-primary"> Colégio Estadual Francisco Carneiro Martins </h3>

                    <h2 class="mb-0"> Técnologia em Análise e Desenvolvimento de Sistemas (cursando) </h2>
                    <h3 class="text-primary"> Centro Universitário Guairacá </h3>
                </div>
            </accordion-group>

            <accordion-group heading="Habilidades">
                <div align="left">
                    <ul>
                        <li> Pontual </li>
                        <li> Trabalho em equipe </li>
                        <li> Boa comunicação </li>
                    </ul>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>