<div class="container">
    <div class="row">
        <div class="col-gn shadow border m-1">
            <div class="text-center">
                <h2> Sobre Mim </h2>
                <img src="./assets/image.jpg" alt="profile picture" widht="246" height="256" class="rounded-circle">
                <br> <br> 
                <p> Estudande de Analise e Desemvolvimento de sistemas, atualmente efetivado na Cooperativa Agrária como Auxíliar Administrativo. Destaco-me por rapidez de aprendizagem. Ofereço habilidades técnicas e excelentes habilidades interpessoais. Busco oportunidades para aplicar minha experiência e contribuir para o objetivo da empresa.</p>
            </div>
        </div>
    </div>
</div>